.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: rgb(147, 147, 147);
}

ul {
  width: 80%;
}

li {
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.todo__buttons {
  display: flex;
  align-items: center;
}

.todo__button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 100px;
  line-height: 1;
}

.todo__button:hover {
  background-color: #333;
  color: #fff;
}
